name: Build and Test
on:
    push:
        branches:
            - "renovate/**"
    pull_request:
        branches:
            - main
jobs:
    buildTest:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
            - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
            - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
              with:
                  node-version-file: ".nvmrc"
                  cache: pnpm

            - run: pnpm i
            - run: pnpm run test
            - run: pnpm build
