name: PublishToNpm
on:
    push:
        branches:
            - main
concurrency: ${{ github.workflow }}-${{ github.ref }}
jobs:
    publish:
        runs-on: ubuntu-latest
        permissions:
            id-token: write
            contents: write
        steps:
            - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
            - uses: actions/setup-node@b39b52d1213e96004bfcb1c61a8a6fa8ab84f3e8 # v4
              with:
                  node-version: "18"
                  cache: yarn
            - run: npm install -g npm@latest
            - run: yarn
            - run: yarn test
            - run: yarn build
            - name: Release
              env:
                  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
                  GH_TOKEN: ${{ secrets.GH_TOKEN }}
              run: npx semantic-release
