name: PublishToNpm
on:
    push:
        branches:
            - main
            - release/*
concurrency: ${{ github.workflow }}-${{ github.ref }}
jobs:
    publish:
        runs-on: ubuntu-latest
        permissions:
            contents: write # to be able to publish a GitHub release
            issues: write # to be able to comment on released issues
            pull-requests: write # to be able to comment on released pull requests
            id-token: write # to enable use of OIDC for trusted publishing and npm provenance
        steps:
            - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
            - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
            - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
              with:
                  node-version-file: ".nvmrc"
                  cache: pnpm
            - run: pnpm install --frozen-lockfile
            - run: pnpm test
            - run: pnpm build
            - name: Release
              env:
                  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
                  GH_TOKEN: ${{ secrets.GH_TOKEN }}
              run: npx semantic-release
