name: PublishToNpm
on:
    push:
        branches:
            - main
            - release/*
concurrency: ${{ github.workflow }}-${{ github.ref }}
jobs:
    publish:
        runs-on: ubuntu-latest
        permissions:
            id-token: write
            contents: write
        steps:
            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
            - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
            - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
              with:
                  node-version-file: ".nvmrc"
                  cache: pnpm
            - run: pnpm install --frozen-lockfile
            - run: pnpm test
            - run: pnpm build
            - name: Release
              env:
                  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
                  GH_TOKEN: ${{ secrets.GH_TOKEN }}
              run: npx semantic-release
